* {
    color: white;
}

body {
    background-color: #383232;
}

.container {
    border-radius: 20px;
    background-color: #544c4b;
    margin: 10px;
    overflow: hidden;
    width: 600px;
    display: flex;
}

.container .pic {
    display: inline-block;
}

img {
    width: 229px;
}

.info {
    margin-left: 10px;
}

.title {
    color: lightgray;
}

.characterName {
    font-weight: bold;
    font-size: 20px;
}