* {
    color: white;
    font-family: "Bitstream Charter", sans-serif;
}

body {
    background-color: #383232;
}

.center {
    text-align: center;
}

.container {
    border-radius: 20px;
    background-color: #544c4b;
    margin: 15px;
    overflow: hidden;
    width: 600px;
    display: flex;
}

.container .pic {
    display: block;
}

img {
    width: 229px;
    height: 100%;
}

.info {
    margin-left: 10px;
    text-align: left;
}

.title {
    color: lightgray;
}

.characterName {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.columns {
    display: inline-block;
}

.emoji {
    display: flex;
}

.symbol {
    font-size: 25px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:active {
    color: orange;
}

a[tabindex]:focus {
    color: orange;
    outline: none;
}