<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="navigation">
        <nav>
            <div class="image">
                <img src="../pngwing.com.png" alt="logo">
            </div>

            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/allCharacters">Characters</a>
                </li>

                <li>
                    <a href="/episodes">Episodes</a>
                </li>

                <li>
                    <a href="/locations">Locations</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-info">
            <a href="https://rickandmortyapi.com/api/character">Characters: 826</a>
            <a href="https://rickandmortyapi.com/api/location">Locations: 126</a>
            <a href="https://rickandmortyapi.com/api/episode">Episodes: 51</a>
        </div>
    </footer>
{% endblock %}

</body>
</html>